<div class="chart-wrapper">
  <canvas
    #chartCanvas
    role="img"
    aria-label="Line chart showing currency trend data"
  ></canvas>

  @if (datasets().length > 0) {
    <ul class="chart-legend" aria-label="Chart legend">
      @for (dataset of datasets(); track $index) {
        <li>
          <span class="chart-legend__swatch" [style.background-color]="dataset.borderColor"></span>
          {{ dataset.label }}
        </li>
      }
    </ul>
  }

  <table class="visually-hidden">
    <caption>Currency trend data table</caption>
    <thead>
      <tr>
        <th scope="col">Dataset</th>
        @for (label of labels(); track $index) {
          <th scope="col">{{ label }}</th>
        }
      </tr>
    </thead>
    <tbody>
      @for (dataset of datasets(); track $index) {
        <tr>
          <th scope="row">{{ dataset.label }}</th>
          @for (value of dataset.data; track $index) {
            <td>{{ value }}</td>
          }
        </tr>
      }
    </tbody>
  </table>
</div>
