:host {
  display: block;
  min-height: 100dvh;
}

.app-shell {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

.app-shell__main {
  flex: 1 0 auto;
  box-sizing: border-box;
  width: 100%;
  max-width: 90rem;
  padding: var(--sp-xl);
  margin-inline: auto;
}
